<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Miucode tips</title>
</head>
<body>
<b>Miucode</b> is free and open source lightweight web application for editing any kind of textfiles directly in server.<br>
<b>Miucode</b> is published under MIT License (look license.txt file in program folder).<br>
<b>Miucode</b> current release is 1.0 Beta (untested).<br>
<h4>Known bugs and notes</h4>
Line numbers works partially in IE8 and do not work at all in Opera.<br>
In IE8 modal overlay sometimes not using opacity and forces window scrollbars.<br>
No control for situation when file has previously opened from deleted directory.<br>
Right now file explorer and file editor work asynchronously.<br>
If open new file, old file close without warning. Same when close unsaved file.<br>
Only one folder at time can be opened from same folderlevel.<br> 
<b>Miucode</b> works quite well in Firefox, Chrome and Safari.<br>
Friendly advise: Do not try to edit <b>Miucode</b> itself with <b>Miucode</b> :) <br>
<h4>Opening files and folders</h4>
Double click in file explorer list open/close folders there and open files into file editor.
<h4>Adding new folder</h4>
Click add new folder button and insert folder name. New folder will be saved into currently active folder in explorer. If no folder were opened, then it will be saved into root folder.
<h4>Delete folder</h4>
Open folder in explorer and click delete button to remove active folder and all its content.
<h4>Edit file</h4>
You can indent text by one row and multiple selected rows with Tab-key and Shift+Tab-key.
<h4>Add new file</h4>
To add new file, just start coding. Save button call window, where you can insert new file name. File will be inserted into currently active folder in explorer. If no folder were opened, then it will be saved into root folder.
<h4>Save file</h4>
When some file is opened in file editor, then save file button acts like normal save button. <b>Miucode</b> always rewrite opened file, whatever folder is currently active in file explorer.
<h4>View edited file</h4>
To view opened file in browser, click to link located top of editor.
<h4>Delete file</h4>
Delete button delete and close currently opened file.
<h4>Close file</h4>
Close button close currently opened file or emptying unsaved new file content.
</body>
</html>