<!DOCTYPE html>
<html>
<head>
	<title>Miucode</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{_def-tmpl_}/css/style.css" media="screen" />
	<script type="text/javascript" src="{_def-libs_}/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{_def-libs_}/jquery/jquery.labelover.js"></script>
	<script type="text/javascript" src="jscript/login.js"></script>
</head>
<body>
	<div id="login">
		<div id="loginform">
			<h2>Miucode</h2>
			<form method="post" name="loginform">
			<div class="input"><label for="UserId">Username</label><input type="text" name="UserId" id="UserId" ></div>
			<div class="input"><label for="Password">Password</label><input type="password" name="Password" id="Password"></div>
			</form>
		</div>
	</div>
</body>
</html>